.grid {
  display: grid;
  row-gap: 50px;
  column-gap: 45px;
  grid-template-columns: auto auto;
  align-items: center;
}

.grid:nth-child(even) .image {
  order: 1;
}

.grid:nth-child(even) .details {
  order: -1;
}

.grid:nth-child(even) .details .title,
.grid:nth-child(even) .details .description {
  text-align: right;
}

.image {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-position: center;
  background-size: cover;
}

.description {
  font-size: 18px;
  text-align: left;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 34em) {
  .grid {
    grid-template-columns: auto;
  }

  .grid:nth-child(even) .image {
    order: -1;
  }

  .grid:nth-child(even) .details {
    order: 1;
  }

  .description {
    display: block;
    text-align: justify;
    text-justify: auto;
  }

  .grid:nth-child(even) .details .title,
  .grid:nth-child(even) .details .description {
    text-align: justify;
    text-justify: auto;
  }
}
