.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #4e4e4e;
  padding: 0 4.8rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

@media (max-width: 34em) {
  .header {
    padding-left: 5%;
  }
}
